<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpha.statussaver"
    android:versionCode= "1"
    android:versionName="initial"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name="com.alpha.statussaver.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.alpha.statussaver.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.FacebookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.TikTokActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.WhatsappActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.InstagramActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.FullViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.alpha.statussaver.activity.LikeeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.alpha.statussaver.activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alpha.statussaver.activity.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alpha.statussaver.activity.WebviewAcitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alpha.statussaver.activity.TwitterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.alpha.statussaver.activity.RoposoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.alpha.statussaver.activity.ShareChatActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.alpha.statussaver.activity.SnackVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />


    </application>

</manifest>